.pageLoader {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.pageLoader::after,
.pageLoader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.pageLoader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}