.menu {
    position: absolute;
    width: 100%;
    min-height: 100px;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.menu ul li a {
    color: gray;
    text-decoration: none;
}

.menu ul li a:hover {
    color: black;
    transition: 0.3s;
    font-weight: bold;
}