.modal {
    position: fixed;
    /* Ensure the modal stays fixed in the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the modal appears above other content */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.project-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.border-danger {
    border-color: #dc3545;
}