.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fefefe;
    padding: 40px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.project-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.border-danger {
    border-color: #dc3545;
}

.main-btn {
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 40px;
    align-self: center;
    text-align: center;

    &:hover {
        background-color: #29f0b4;
    }
}