.skeleton-thumb {
    height: 300px;
    background-color: #e0e0e0;
}

.skeleton-image {
    height: 300px;
    background-color: #e0e0e0;
}

.skeleton-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.skeleton-text-large {
    width: 60%;
    height: 50px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

.skeleton-bullets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skeleton-bullet {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skeleton-icon {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
}

.skeleton-text-small {
    width: 70%;
    height: 20px;
    background-color: #e0e0e0;
}