.subscription-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.subscription-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.subscription-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 1200px;
    width: 100%;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Adjusted to be responsive */
    min-height: 350px;
    background-color: #f5f5f9bb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0;
}

.title-card {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.body-card {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.payment-card {
    margin-top: auto;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 120px;
    align-self: flex-end;
    text-align: center;
}

.payment-card:hover {
    background-color: #29f0b4;
}

.payment-card span {
    font-weight: bold;
}

.btn-card {
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    align-self: center;
}

.btn-card:hover {
    background-color: #29f0b4;
}

@media (max-width: 900px) {
    .subscription-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .subscription-grid {
        grid-template-columns: 1fr;
    }
}