.subscription-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.subscription-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.subscription-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 1200px;
    width: 100%;
}


.container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    background-color: #f5f5f9bb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0;
    justify-content: space-between;
}

.body-card {
    flex-grow: 1;
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.payment-card {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 120px;
    align-self: flex-end;
    text-align: center;
}

.payment-card:hover {
    background-color: #29AAE1;
}

.payment-card span {
    font-weight: bold;
}


.btn-card {
    margin-top: auto;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    align-self: center;
}

@media (max-width: 900px) {
    .subscription-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .subscription-grid {
        grid-template-columns: 1fr;
    }
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    gap: 1rem;
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

.container-card {
    min-width: 280px;
    /* Adjust width as necessary */
    background-color: #f8f9fa;
    /* Light background color for the card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s ease;
}

.container-card:hover {
    transform: translateY(-5px);
}

.title-card {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
}

.body-card {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.btn-card {
    font-size: 0.9rem;
    color: white;
    text-align: center;
}

.no-payment-image {
    width: 100px;
    margin-bottom: 1rem;
}

.scrollable-container::-webkit-scrollbar {
    height: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}