.btn-primary-pay {
    background: linear-gradient(to right, #007bff, #6610f2);
    border: none;
    color: #ffff;
    transition: all 0.3s ease;
}

.btn-primary-pay:hover {
    background: linear-gradient(to right, #0056b3, #520dc2);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.bg-light {
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.text-success {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}